<div class="page">
<script>this.container.html(this.ledgerTemplate());
    $('table').dataTable();</script>
  <p class="sideways">Turn your phone sideways for advanced filtering.</p>

<div class="mediapreview">
</div>
				
				<div class="show-list">
					
				</div><!-- end show-list -->
        
			</div><!-- end page -->
			<script type="text/template" id="show-template">
			<div class="container">
              <table class="rwd-table" id="schedule">

              	<thead>
              	              	<tr>
              <th><input type="text" name="search_date" placeholder="Filter by Date" class="search_init" /></th>
              <th><input type="text" name="search_time" placeholder="Filter by Time" class="search_init" /></th>
              <th><input type="text" name="search_artist" placeholder="Filter by Artist" class="search_init" /></th>
              <th><input type="text" name="search_venue" placeholder="Filter by Venue" class="search_init" /></th>
              </tr>
              	<tr>
              		<th class="date">Date</th>
              		<th class="time">Time</th>
              		<th class="artist">Artist</th>
              		<th class="venue">Venue</th>
              	</tr>
              	
              	</thead>
              	<tbody>
                <%% _.each(shows, function(show) { %>
					<tr class="showlist">                       
                        <td data-th="Date"><span class="time"><%%= show.date %></span></td>
                        <td data-th="Time"><span class="time"><%%= show.time %></span></td>
                        <td data-th="Artist"><span class="artist"><%%= show.artist %></span>
                         <%% if (show.media != "") { %>
                          <button class="preview btn btn-xs btn-warning">play</button>
                        <%% } %></td>
                        <td data-th="Venue"><span class="venue"><%%= show.venue %></span></td>
                    </tr>
			<%% }); %>
                </tbody>
                </table>
                </div>
                <script>
                //I am so, so sorry for this... rest assured, there will be refactoring when I learn what the shit I'm doing.
                //(refactoring most likely to happen after Treefort!)
                //In the meantime, it's not a terrible hack considering it's my first time with Rails and JS...
                var schedule = [
                [
    {
        "time": "7:40 PM - 7:00 PM",
        "artist": "Tom Brosseau",
        "date": "3/25 (Weds)",
        "venue": "CATHEDRAL OF THE ROCKIES\r\r"
    },
    {
        "time": "7:30 PM - 7:00 PM",
        "artist": "Tribute to Paul Revere",
        "date": "3/25 (Weds)",
        "venue": "EL KORAH SHRINE"
    },
    {
        "time": "8:15 PM - 7:45 PM",
        "artist": "Juan Fangio",
        "date": "3/25 (Weds)",
        "venue": "THE EL KORAH SHRINE"
    },
    {
        "time": "20:40 - 8:00 PM",
        "artist": "Alynda Lee Segarra (from Hurray for The Riff Raff)",
        "date": "3/25 (Weds)",
        "venue": "CATHEDRAL OF THE ROCKIES"
    },
    {
        "time": "8:40 PM - 8:00 PM",
        "artist": "Atomic Moses",
        "date": "3/25 (Weds)",
        "venue": "NEUROLUX"
    },
    {
        "time": "8:40 PM - 8:00 PM",
        "artist": "Cassie Lewis & The Foxxtones",
        "date": "3/25 (Weds)",
        "venue": "THE BOUQUET"
    },
    {
        "time": "8:40 PM - 8:00 PM",
        "artist": "HEDTRIIP",
        "date": "3/25 (Weds)",
        "venue": "CRAZY HORSE"
    },
    {
        "time": "8:40 PM - 8:00 PM",
        "artist": "Hex Girl",
        "date": "3/25 (Weds)",
        "venue": "LINEN BUILDING"
    },
    {
        "time": "9:00 PM - 8:30 PM",
        "artist": "LoveSick",
        "date": "3/25 (Weds)",
        "venue": "EL KORAH SHRINE"
    },
    {
        "time": "9:40 PM - 9:00 PM",
        "artist": "AGED EX-CHAMPION",
        "date": "3/25 (Weds)",
        "venue": "LINEN BUILDING"
    },
    {
        "time": "9:40 PM - 9:00 PM",
        "artist": "Divers",
        "date": "3/25 (Weds)",
        "venue": "CRAZY HORSE"
    },
    {
        "time": "9:40 PM - 9:00 PM",
        "artist": "Foul Weather",
        "date": "3/25 (Weds)",
        "venue": "NEUROLUX"
    },
    {
        "time": "9:40 PM - 9:00 PM",
        "artist": "HUSHTUSK",
        "date": "3/25 (Weds)",
        "venue": "THE BOUQUET"
    },
    {
        "time": "10:15 PM - 9:00 PM",
        "artist": "Josh Ritter",
        "date": "3/25 (Weds)",
        "venue": "CATHEDRAL OF THE ROCKIES"
    },
    {
        "time": "10:40 PM - 10:00 PM",
        "artist": "BUXTON",
        "date": "3/25 (Weds)",
        "venue": "THE BOUQUET "
    },
    {
        "time": "11:00 PM - 10:15 PM",
        "artist": "Felt Neighbor",
        "date": "3/25 (Weds)",
        "venue": "EL KORAH SHRINE"
    },
    {
        "time": "10:40 PM - 10:00 PM",
        "artist": "Wild Ones",
        "date": "3/25 (Weds)",
        "venue": "NEUROLUX"
    },
    {
        "time": "10:40 PM - 10:00 PM",
        "artist": "Wwiidobe",
        "date": "3/25 (Weds)",
        "venue": "CRAZY HORSE"
    },
    {
        "time": "10:40 PM - 10:00 PM",
        "artist": "Corners",
        "date": "3/25 (Weds)",
        "venue": "LINEN BUILDING"
    },
    {
        "time": "10:00 PM - 9:15 PM",
        "artist": "House of Hoi Polloi",
        "date": "3/25 (Weds)",
        "venue": "EL KORAH SHRINE"
    },
    {
        "time": "11:40 PM - 11:00 PM",
        "artist": "Adia Victoria",
        "date": "3/25 (Weds)",
        "venue": "THE BOUQUET"
    },
    {
        "time": "11:40 PM - 11:00 PM",
        "artist": "The Bilinda Butchers",
        "date": "3/25 (Weds)",
        "venue": "LINEN BUILDING"
    },
    {
        "time": "1:00 AM - 12:00 AM",
        "artist": "Craft Spells",
        "date": "3/25 (Weds)",
        "venue": "LINEN BUILDING"
    },
    {
        "time": "12:00 AM - 11:00 PM",
        "artist": "Geographer",
        "date": "3/25 (Weds)",
        "venue": "NEUROLUX "
    },
    {
        "time": "11:40 PM - 11:00 PM",
        "artist": "Sword of a Bad Speller",
        "date": "3/25 (Weds)",
        "venue": "CRAZY HORSE"
    },
    {
        "time": "12:00 AM - 11:15 PM",
        "artist": "The Commonauts",
        "date": "3/25 (Weds)",
        "venue": "EL KORAH SHRINE"
    },
    {
        "time": "1:15 AM - 12:00 AM",
        "artist": "Hurray for the Riff Raff",
        "date": "3/25 (Weds)",
        "venue": "THE BOUQUET"
    },
    {
        "time": "1:30 AM - 12:00 AM",
        "artist": "Turquoise Jeep",
        "date": "3/25 (Weds)",
        "venue": "CRAZY HORSE"
    },
    {
        "time": "6:40 PM - 6:00 PM",
        "artist": "FIVESTAR",
        "date": "3/26 (Thurs)",
        "venue": "WATERCOOLER"
    },
    {
        "time": "6:40 PM - 6:00 PM",
        "artist": "Logan Hyde",
        "date": "3/26 (Thurs)",
        "venue": "EL KORAH SHRINE"
    },
    {
        "time": "7:40 PM - 7:00 PM",
        "artist": "Bliiss",
        "date": "3/26 (Thurs)",
        "venue": "GRAINEY'S "
    },
    {
        "time": "7:40 PM - 7:00 PM",
        "artist": "Cotillon",
        "date": "3/26 (Thurs)",
        "venue": "EL KORAH SHRINE"
    },
    {
        "time": "7:40 PM - 7:00 PM",
        "artist": "Gipsy Moon Rise",
        "date": "3/26 (Thurs)",
        "venue": "THE BOUQUET"
    },
    {
        "time": "7:40 PM - 7:00 PM",
        "artist": "Hollywood Hotel",
        "date": "3/26 (Thurs)",
        "venue": "WATERCOOLER"
    },
    {
        "time": "7:40 AM - 7:00 PM",
        "artist": "Jan Reed",
        "date": "3/26 (Thurs)",
        "venue": "THE DISTRICT"
    },
    {
        "time": "7:40 PM - 7:00 PM",
        "artist": "Mantooth",
        "date": "3/26 (Thurs)",
        "venue": "THE SHREDDER"
    },
    {
        "time": "7:40 PM - 7:00 PM",
        "artist": "Mindrips",
        "date": "3/26 (Thurs)",
        "venue": "LINEN BUILDING"
    },
    {
        "time": "7:40 PM - 7:00 PM",
        "artist": "Slow Bird",
        "date": "3/26 (Thurs)",
        "venue": "NEUROLUX"
    },
    {
        "time": "7:40 PM - 7:00 PM",
        "artist": "Spike Coggins",
        "date": "3/26 (Thurs)",
        "venue": "PENGILLY'S"
    },
    {
        "time": "7:40 PM - 7:00 PM",
        "artist": "The Green Zoo",
        "date": "3/26 (Thurs)",
        "venue": "CRAZY HORSE"
    },
    {
        "time": "8:40 PM - 8:00 PM",
        "artist": "Corners",
        "date": "3/26 (Thurs)",
        "venue": "SHRINER'S"
    },
    {
        "time": "8:40 PM - 8:00 PM",
        "artist": "Alicia Murphy",
        "date": "3/26 (Thurs)",
        "venue": "THE DISTRICT"
    },
    {
        "time": "8:40 PM - 8:00 PM",
        "artist": "As Square As They Come",
        "date": "3/26 (Thurs)",
        "venue": "SPACEBAR"
    },
    {
        "time": "8:40 PM - 8:00 PM",
        "artist": "Bat Manors",
        "date": "3/26 (Thurs)",
        "venue": "WATERCOOLER"
    },
    {
        "time": "8:40 PM - 8:00 PM",
        "artist": "Blackwater Prophet",
        "date": "3/26 (Thurs)",
        "venue": "TOM GRAINEY'S"
    },
    {
        "time": "8:45 PM - 8:00 PM",
        "artist": "Hillfolk Noir",
        "date": "3/26 (Thurs)",
        "venue": "KNITTING FACTORY (MAINSTAGE)"
    },
    {
        "time": "8:40 PM - 8:00 PM",
        "artist": "In The Whale",
        "date": "3/26 (Thurs)",
        "venue": "THE BOUQUET"
    },
    {
        "time": "8:40 PM - 8:00 PM",
        "artist": "Junior Rocket Scientist",
        "date": "3/26 (Thurs)",
        "venue": "NEUROLUX"
    },
    {
        "time": "8:40 PM - 8:00 PM",
        "artist": "Marmozets",
        "date": "3/26 (Thurs)",
        "venue": "THE SHREDDER"
    },
    {
        "time": "8:40 PM - 8:00 PM",
        "artist": "Strange Wilds",
        "date": "3/26 (Thurs)",
        "venue": "LINEN BUILDING"
    },
    {
        "time": "8:40 PM - 8:00 PM",
        "artist": "The Ravenna Colt",
        "date": "3/26 (Thurs)",
        "venue": "PENGILLY'S"
    },
    {
        "time": "8:40 PM - 8:00 PM",
        "artist": "The Vacationist",
        "date": "3/26 (Thurs)",
        "venue": "HANNAH'S"
    },
    {
        "time": "8:40 PM - 8:00 PM",
        "artist": "What Moon Things",
        "date": "3/26 (Thurs)",
        "venue": "CRAZY HORSE"
    },
    {
        "time": "9:40 PM - 9:00 PM",
        "artist": "Cerberus Rex",
        "date": "3/26 (Thurs)",
        "venue": "THE SHREDDER"
    },
    {
        "time": "9:40 PM - 9:00 PM",
        "artist": "Tom Brosseau",
        "date": "3/26 (Thurs)",
        "venue": "THE DISTRICT\r\r"
    },
    {
        "time": "9:40 PM - 9:00 PM",
        "artist": "Everyone Is Dirty",
        "date": "3/26 (Thurs)",
        "venue": "NEUROLUX"
    },
    {
        "time": "9:40 PM - 9:00 PM",
        "artist": "Francisco The Man",
        "date": "3/26 (Thurs)",
        "venue": "LINEN BUILDING"
    },
    {
        "time": "9:45 PM - 9:00 PM",
        "artist": "Fruition",
        "date": "3/26 (Thurs)",
        "venue": "KNITTING FACTORY (MAIN STAGE)"
    },
    {
        "time": "9:40 PM - 9:00 PM",
        "artist": "Hands In",
        "date": "3/26 (Thurs)",
        "venue": "SPACEBAR"
    },
    {
        "time": "9:40 PM - 9:00 PM",
        "artist": "Homebody",
        "date": "3/26 (Thurs)",
        "venue": "CRAZY HORSE"
    },
    {
        "time": "9:40 PM - 9:00 PM",
        "artist": "Massy Ferguson",
        "date": "3/26 (Thurs)",
        "venue": "THE BOUQUET"
    },
    {
        "time": "9:40 PM - 9:00 PM",
        "artist": "Rogue Gallery",
        "date": "3/26 (Thurs)",
        "venue": "TOM GRAINEY'S"
    },
    {
        "time": "9:35 PM - 9:00 PM",
        "artist": "Suite Love",
        "date": "3/26 (Thurs)",
        "venue": "ROSE ROOM"
    },
    {
        "time": "9:40 PM - 9:00 PM",
        "artist": "The Lower 48",
        "date": "3/26 (Thurs)",
        "venue": "HANNAH'S"
    },
    {
        "time": "9:40 PM - 9:00 PM",
        "artist": "The Shivas",
        "date": "3/26 (Thurs)",
        "venue": "EL KORAH SHRINE"
    },
    {
        "time": "9:40 PM - 9:00 PM",
        "artist": "The Very Most",
        "date": "3/26 (Thurs)",
        "venue": "WATERCOOLER"
    },
    {
        "time": "10:30 PM - 9:30 PM",
        "artist": "Sucrose",
        "date": "3/26 (Thurs)",
        "venue": "FATTY'S"
    },
    {
        "time": "10:10 PM - 9:35 PM",
        "artist": "NTE OWL",
        "date": "3/26 (Thurs)",
        "venue": "ROSE ROOM"
    },
    {
        "time": "10:40 PM - 10:00 PM",
        "artist": "Baby Ghosts",
        "date": "3/26 (Thurs)",
        "venue": "LINEN BUILDING"
    },
    {
        "time": "10:40 PM - 10:00 PM",
        "artist": "Burien",
        "date": "3/26 (Thurs)",
        "venue": "THE SHREDDER"
    },
    {
        "time": "10:40 PM - 10:00 PM",
        "artist": "CRY",
        "date": "3/26 (Thurs)",
        "venue": "SPACEBAR"
    },
    {
        "time": "10:40 PM - 10:00 PM",
        "artist": "Fort Harrison",
        "date": "3/26 (Thurs)",
        "venue": "TOM GRAINEY'S"
    },
    {
        "time": "10:40 PM - 10:00 PM",
        "artist": "Hallowed Oak",
        "date": "3/26 (Thurs)",
        "venue": "CRAZY HORSE"
    },
    {
        "time": "10:40 PM - 10:00 PM",
        "artist": "Jumping Sharks",
        "date": "3/26 (Thurs)",
        "venue": "REEF"
    },
    {
        "time": "10:40 PM - 10:00 PM",
        "artist": "Matt Hopper & The Roman Candles",
        "date": "3/26 (Thurs)",
        "venue": "THE BOUQUET"
    },
    {
        "time": "10:40 PM - 10:00 PM",
        "artist": "OK SWEETHEART",
        "date": "3/26 (Thurs)",
        "venue": "WATERCOOLER"
    },
    {
        "time": "11:00 PM - 10:00 PM",
        "artist": "Steve Fulton Music",
        "date": "3/26 (Thurs)",
        "venue": "HANNAH'S"
    },
    {
        "time": "10:40 PM - 10:00 PM",
        "artist": "The Easy Leaves",
        "date": "3/26 (Thurs)",
        "venue": "PENGILLY'S"
    },
    {
        "time": "10:40 PM - 10:00 PM",
        "artist": "The Velvet Teen",
        "date": "3/26 (Thurs)",
        "venue": "NEUROLUX"
    },
    {
        "time": "10:40 PM - 10:00 PM",
        "artist": "There Is No Mountain",
        "date": "3/26 (Thurs)",
        "venue": "THE DISTRICT"
    },
    {
        "time": "11:00 PM - 10:00 PM",
        "artist": "Viet Cong",
        "date": "3/26 (Thurs)",
        "venue": "EL KORAH SHRINE"
    },
    {
        "time": "10:45 PM - 10:10 PM",
        "artist": "LoveGunz",
        "date": "3/26 (Thurs)",
        "venue": "ROSE ROOM"
    },
    {
        "time": "11:30 PM - 10:30 PM",
        "artist": "REFLEKTION",
        "date": "3/26 (Thurs)",
        "venue": "FATTY'S"
    },
    {
        "time": "11:30 PM - 10:00 PM",
        "artist": "Trampled By Turtles",
        "date": "3/26 (Thurs)",
        "venue": "KNITTING FACTORY (MAIN STAGE)"
    },
    {
        "time": "11:20 PM - 10:45 PM",
        "artist": "Brackney",
        "date": "3/26 (Thurs)",
        "venue": "ROSE ROOM"
    },
    {
        "time": "11:50 PM - 11:00 PM",
        "artist": "100 Watt Mind",
        "date": "3/26 (Thurs)",
        "venue": "TOM GRAINEY'S"
    },
    {
        "time": "12:00 PM - 11:00 PM",
        "artist": "Calico the Band",
        "date": "3/26 (Thurs)",
        "venue": "THE DISTRICT"
    },
    {
        "time": "12:00 AM - 11:00 PM",
        "artist": "Cymbals Eat Guitars",
        "date": "3/26 (Thurs)",
        "venue": "NEUROLUX"
    },
    {
        "time": "11:40 PM - 11:00 PM",
        "artist": "Happyness",
        "date": "3/26 (Thurs)",
        "venue": "LINEN BUILDING"
    },
    {
        "time": "12:00 AM - 11:00 PM",
        "artist": "Jason Webley",
        "date": "3/26 (Thurs)",
        "venue": "REEF"
    },
    {
        "time": "11:40 PM - 11:00 PM",
        "artist": "My Goodness",
        "date": "3/26 (Thurs)",
        "venue": "THE BOUQUET"
    },
    {
        "time": "12:00 AM - 11:00 PM",
        "artist": "Roselit Bone",
        "date": "3/26 (Thurs)",
        "venue": "PENGILLY'S"
    },
    {
        "time": "12:00 AM - 11:00 PM",
        "artist": "Spondee",
        "date": "3/26 (Thurs)",
        "venue": "WATERCOOLER"
    },
    {
        "time": "11:50 PM - 11:00 PM",
        "artist": "The Bleach Effect",
        "date": "3/26 (Thurs)",
        "venue": "SPACEBAR"
    },
    {
        "time": "11:40 PM - 11:00 PM",
        "artist": "The Raven and the Writing Desk",
        "date": "3/26 (Thurs)",
        "venue": "CRAZY HORSE"
    },
    {
        "time": "11:40 PM - 11:00 PM",
        "artist": "Brett Netson & Snakes",
        "date": "3/26 (Thurs)",
        "venue": "THE SHREDDER"
    },
    {
        "time": "12:15 AM - 11:15 PM",
        "artist": "Omar Souleyman",
        "date": "3/26 (Thurs)",
        "venue": "EL KORAH SHRINE"
    },
    {
        "time": "11:55 PM - 11:20 PM",
        "artist": "Frank Sriracha",
        "date": "3/26 (Thurs)",
        "venue": "ROSE ROOM"
    },
    {
        "time": "12:30 AM - 11:30 PM",
        "artist": "McCabe Reed",
        "date": "3/26 (Thurs)",
        "venue": "FATTY'S"
    },
    {
        "time": "1:00 AM - 11:30 PM",
        "artist": "World's Finest",
        "date": "3/26 (Thurs)",
        "venue": "HANNAH'S"
    },
    {
        "time": "12:40 AM - 12:00 AM",
        "artist": "A Seasonal Disguise",
        "date": "3/26 (Thurs)",
        "venue": "CRAZY HORSE"
    },
    {
        "time": "1:00 AM - 12:00 AM",
        "artist": "Dr. Fresch",
        "date": "3/26 (Thurs)",
        "venue": "ROSE ROOM"
    },
    {
        "time": "1:00 AM - 12:00 AM",
        "artist": "Lamont Kohner",
        "date": "3/26 (Thurs)",
        "venue": "SPACEBAR"
    },
    {
        "time": "1:00 AM - 12:00 AM",
        "artist": "Wild Throne",
        "date": "3/26 (Thurs)",
        "venue": "THE SHREDDER"
    },
    {
        "time": "1:00 AM - 12:00 AM",
        "artist": "Twerps",
        "date": "3/26 (Thurs)",
        "venue": "LINEN BUILDING"
    },
    {
        "time": "1:45 AM - 12:15 AM",
        "artist": "Hank & Cupcakes",
        "date": "3/26 (Thurs)",
        "venue": "TOM GRAINEY'S"
    },
    {
        "time": "1:30 AM - 12:15 AM",
        "artist": "The Soft White Sixties",
        "date": "3/26 (Thurs)",
        "venue": "THE BOUQUET"
    },
    {
        "time": "1:45 AM - 12:20 AM",
        "artist": "Poke",
        "date": "3/26 (Thurs)",
        "venue": "PENGILLY'S"
    },
    {
        "time": "1:30 AM - 12:30 AM",
        "artist": "Animal Eyes",
        "date": "3/26 (Thurs)",
        "venue": "REEF"
    },
    {
        "time": "2:00 AM - 12:30 AM",
        "artist": "Cosmic Selector",
        "date": "3/26 (Thurs)",
        "venue": "FATTY'S"
    },
    {
        "time": "2:00 AM - 1:00 AM",
        "artist": "Crosss",
        "date": "3/26 (Thurs)",
        "venue": "SHREDDER"
    },
    {
        "time": "2:00 AM - 1:00 AM",
        "artist": "Psycache",
        "date": "3/26 (Thurs)",
        "venue": "ROSE ROOM"
    },
    {
        "time": "2:00 AM - 1:00 AM",
        "artist": "Storie Grubb and the Holy Wars",
        "date": "3/26 (Thurs)",
        "venue": "CRAZY HORSE"
    },
    {
        "time": "6:00 PM - 1:00 PM",
        "artist": "Party Boy Showcase",
        "date": "3/27 (Fri)",
        "venue": "NEUROLUX"
    },
    {
        "time": "5:30 PM - 4:45 PM",
        "artist": "Finn Riggins",
        "date": "3/27 (Fri)",
        "venue": "MAIN STAGE"
    },
    {
        "time": "6:10 PM - 5:30 PM",
        "artist": "Adam Wright",
        "date": "3/27 (Fri)",
        "venue": "KNITTING FACTORY (MAIN STAGE)"
    },
    {
        "time": "6:40 PM - 5:50 PM",
        "artist": "The Muckers",
        "date": "3/27 (Fri)",
        "venue": "MAIN STAGE"
    },
    {
        "time": "6:40 PM - 6:00 PM",
        "artist": "Darling Rollercoaster",
        "date": "3/27 (Fri)",
        "venue": "LINEN BUILDING"
    },
    {
        "time": "6:35 PM - 6:00 PM",
        "artist": "Telescopes as Time Machines",
        "date": "3/27 (Fri)",
        "venue": "KNITTING FACTORY (UPSTAIRS)"
    },
    {
        "time": "6:40 PM - 6:00 PM",
        "artist": "Tisper",
        "date": "3/27 (Fri)",
        "venue": "WATERCOOLER"
    },
    {
        "time": "6:40 PM - 6:00 PM",
        "artist": "URB",
        "date": "3/27 (Fri)",
        "venue": "CRAZY HORSE"
    },
    {
        "time": "7:10 PM - 6:30 PM",
        "artist": "LEMOLO",
        "date": "3/27 (Fri)",
        "venue": "KNITTING FACTORY (MAIN STAGE)"
    },
    {
        "time": "7:40 PM - 7:00 PM",
        "artist": "Annika Klein",
        "date": "3/27 (Fri)",
        "venue": "THE DISTRICT"
    },
    {
        "time": "7:40 PM - 7:00 PM",
        "artist": "Father Murphy",
        "date": "3/27 (Fri)",
        "venue": "LINEN BUILDING"
    },
    {
        "time": "7:40 PM - 7:00 PM",
        "artist": "Grandparents",
        "date": "3/27 (Fri)",
        "venue": "NEUROLUX"
    },
    {
        "time": "7:40 PM - 7:00 PM",
        "artist": "Run On Sentence",
        "date": "3/27 (Fri)",
        "venue": "PENGILLY'S"
    },
    {
        "time": "7:35 PM - 7:00 PM",
        "artist": "Stepbrothers",
        "date": "3/27 (Fri)",
        "venue": "KNITTING FACTORY (UPSTAIRS)"
    },
    {
        "time": "8:00 PM - 7:00 PM",
        "artist": "The Donkeys",
        "date": "3/27 (Fri)",
        "venue": "MAIN STAGE"
    },
    {
        "time": "7:40 PM - 7:00 PM",
        "artist": "BLACKCLOUD",
        "date": "3/27 (Fri)",
        "venue": "THE SHREDDER"
    },
    {
        "time": "7:40 PM - 7:00 PM",
        "artist": "Thomas Paul",
        "date": "3/27 (Fri)",
        "venue": "THE BOUQUET"
    },
    {
        "time": "7:40 PM - 7:00 PM",
        "artist": "Tiaras",
        "date": "3/27 (Fri)",
        "venue": "CRAZY HORSE"
    },
    {
        "time": "7:40 PM - 7:00 PM",
        "artist": "Tundra Brother",
        "date": "3/27 (Fri)",
        "venue": "EL KORAH SHRINE"
    },
    {
        "time": "7:40 PM - 7:00 PM",
        "artist": "Vanwave",
        "date": "3/27 (Fri)",
        "venue": "WATERCOOLER"
    },
    {
        "time": "8:10 PM - 7:30 PM",
        "artist": "The Soil & The Sun",
        "date": "3/27 (Fri)",
        "venue": "KNITTING FACTORY (MAIN STAGE)"
    },
    {
        "time": "8:10 PM - 7:30 PM",
        "artist": "Trigger Itch",
        "date": "3/27 (Fri)",
        "venue": "HANNAH'S"
    },
    {
        "time": "8:15 PM - 7:45 PM",
        "artist": "The Maladroids",
        "date": "3/27 (Fri)",
        "venue": "THE SHREDDER"
    },
    {
        "time": "8:40 PM - 8:00 PM",
        "artist": "A Story of Rats",
        "date": "3/27 (Fri)",
        "venue": "LINEN BUILDING"
    },
    {
        "time": "8:35 PM - 8:00 PM",
        "artist": "BOYS",
        "date": "3/27 (Fri)",
        "venue": "KNITTING FACTORY (UPSTAIRS)"
    },
    {
        "time": "8:40 PM - 8:00 PM",
        "artist": "Chelsey Robbins",
        "date": "3/27 (Fri)",
        "venue": "TOM GRAINEY'S"
    },
    {
        "time": "8:40 PM - 8:00 PM",
        "artist": "Deviant Kin",
        "date": "3/27 (Fri)",
        "venue": "PENGILLY'S"
    },
    {
        "time": "8:40 PM - 8:00 PM",
        "artist": "G.Green",
        "date": "3/27 (Fri)",
        "venue": "CRAZY HORSE"
    },
    {
        "time": "8:40 PM - 8:00 PM",
        "artist": "Lost Lander",
        "date": "3/27 (Fri)",
        "venue": "EL KORAH SHRINE"
    },
    {
        "time": "8:40 PM - 8:00 PM",
        "artist": "Mt. Joy",
        "date": "3/27 (Fri)",
        "venue": "THE DISTRICT"
    },
    {
        "time": "8:40 PM - 8:00 PM",
        "artist": "Naan Violence",
        "date": "3/27 (Fri)",
        "venue": "WATERCOOLER"
    },
    {
        "time": "8:50 PM - 8:00 PM",
        "artist": "Star Warrior",
        "date": "3/27 (Fri)",
        "venue": "ROSE ROOM"
    },
    {
        "time": "8:40 PM - 8:00 PM",
        "artist": "The Domestics",
        "date": "3/27 (Fri)",
        "venue": "THE BOUQUET"
    },
    {
        "time": "8:40 PM - 8:00 PM",
        "artist": "Two Sheds",
        "date": "3/27 (Fri)",
        "venue": "NEUROLUX"
    },
    {
        "time": "10:00 PM - 8:30 PM",
        "artist": "Built to Spill",
        "date": "3/27 (Fri)",
        "venue": "MAIN STAGE"
    },
    {
        "time": "9:00 PM - 8:30 PM",
        "artist": "Hummingbird Of Death",
        "date": "3/27 (Fri)",
        "venue": "THE SHEDDER"
    },
    {
        "time": "9:10 PM - 8:30 PM",
        "artist": "From Indian Lakes",
        "date": "3/27 (Fri)",
        "venue": "KNITTING FACTORY (MAIN STAGE)"
    },
    {
        "time": "9:10 PM - 8:30 PM",
        "artist": "Piranhas BC",
        "date": "3/27 (Fri)",
        "venue": "HANNAH'S"
    },
    {
        "time": "9:50 PM - 9:00 PM",
        "artist": "Cuff Lynx",
        "date": "3/27 (Fri)",
        "venue": "ROSE ROOM"
    },
    {
        "time": "9:40 PM - 9:00 PM",
        "artist": "ELEL",
        "date": "3/27 (Fri)",
        "venue": "EL KORAH SHRINE"
    },
    {
        "time": "9:40 PM - 9:00 PM",
        "artist": "Hi Ho Silver Oh",
        "date": "3/27 (Fri)",
        "venue": "NEUROLUX"
    },
    {
        "time": "9:35 PM - 9:00 PM",
        "artist": "King Brat",
        "date": "3/27 (Fri)",
        "venue": "KNITTING FACTORY (UPSTAIRS)"
    },
    {
        "time": "9:40 PM - 9:00 PM",
        "artist": "Male Gaze",
        "date": "3/27 (Fri)",
        "venue": "CRAZY HORSE"
    },
    {
        "time": "9:40 PM - 9:00 PM",
        "artist": "Muscle and Marrow",
        "date": "3/27 (Fri)",
        "venue": "LINEN BUILDING"
    },
    {
        "time": "9:40 PM - 9:00 PM",
        "artist": "OHIOAN",
        "date": "3/27 (Fri)",
        "venue": "WATERCOOLER"
    },
    {
        "time": "9:40 PM - 9:00 PM",
        "artist": "Shari de Vaard",
        "date": "3/27 (Fri)",
        "venue": "TOM GRAINEY'S"
    },
    {
        "time": "9:40 PM - 9:00 PM",
        "artist": "Smokey Brights",
        "date": "3/27 (Fri)",
        "venue": "THE BOUQUET"
    },
    {
        "time": "9:40 PM - 9:00 PM",
        "artist": "Whitney Lyman",
        "date": "3/27 (Fri)",
        "venue": "THE DISTRICT"
    },
    {
        "time": "9:45 PM - 9:15 PM",
        "artist": "Throes",
        "date": "3/27 (Fri)",
        "venue": "THE SHREDDER"
    },
    {
        "time": "10:10 PM - 9:30 PM",
        "artist": "Caddywhompus",
        "date": "3/27 (Fri)",
        "venue": "KNITTING FACTORY (MAIN STAGE)"
    },
    {
        "time": "10:10 PM - 9:30 PM",
        "artist": "Holistic Meditation & Emcee Monkey D.",
        "date": "3/27 (Fri)",
        "venue": "GRAINEY'S BASEMENT"
    },
    {
        "time": "10:10 PM - 9:30 PM",
        "artist": "Lounge on Fire",
        "date": "3/27 (Fri)",
        "venue": "REEF"
    },
    {
        "time": "10:10 PM - 9:30 PM",
        "artist": "The Young Evils",
        "date": "3/27 (Fri)",
        "venue": "HANNAH'S"
    },
    {
        "time": "10:40 PM - 10:00 PM",
        "artist": "Aaron Mark Brown",
        "date": "3/27 (Fri)",
        "venue": "THE BOUQUET"
    },
    {
        "time": "10:40 PM - 10:00 PM",
        "artist": "Bed.",
        "date": "3/27 (Fri)",
        "venue": "EL KORAH SHRINE"
    },
    {
        "time": "10:40 PM - 10:00 PM",
        "artist": "Catherine Feeny & Chris Johnedis",
        "date": "3/27 (Fri)",
        "venue": "THE DISTRICT"
    },
    {
        "time": "10:35 PM - 10:00 PM",
        "artist": "Hikes",
        "date": "3/27 (Fri)",
        "venue": "KNITTING FACTORY (UPSTAIRS)"
    },
    {
        "time": "10:40 PM - 10:00 PM",
        "artist": "James Orr",
        "date": "3/27 (Fri)",
        "venue": "TOM GRAINEY'S"
    },
    {
        "time": "10:40 PM - 10:00 PM",
        "artist": "Obscured By The Sun",
        "date": "3/27 (Fri)",
        "venue": "THE SHREDDER"
    },
    {
        "time": "10:40 PM - 10:00 PM",
        "artist": "Possum Livin",
        "date": "3/27 (Fri)",
        "venue": "PENGILLY'S"
    },
    {
        "time": "10:40 PM - 10:00 PM",
        "artist": "Predatory Light",
        "date": "3/27 (Fri)",
        "venue": "LINEN BUILDING"
    },
    {
        "time": "10:50 PM - 10:00 PM",
        "artist": "Rose Quartz",
        "date": "3/27 (Fri)",
        "venue": "ROSE ROOM"
    },
    {
        "time": "10:40 PM - 10:00 PM",
        "artist": "SISTERS",
        "date": "3/27 (Fri)",
        "venue": "NEUROLUX"
    },
    {
        "time": "10:40 PM - 10:00 PM",
        "artist": "The Ghost Ease",
        "date": "3/27 (Fri)",
        "venue": "CRAZY HORSE"
    },
    {
        "time": "10:40 PM - 10:00 PM",
        "artist": "With Child",
        "date": "3/27 (Fri)",
        "venue": "WATERCOOLER"
    },
    {
        "time": "11:10 PM - 10:30 PM",
        "artist": "Cosmic Boss",
        "date": "3/27 (Fri)",
        "venue": "GRAINEY'S BASEMENT"
    },
    {
        "time": "11:30 PM - 10:30 PM",
        "artist": "Joyce Manor",
        "date": "3/27 (Fri)",
        "venue": "KNITTING FACTORY (MAIN STAGE)"
    },
    {
        "time": "11:10 PM - 10:30 PM",
        "artist": "Shaprece",
        "date": "3/27 (Fri)",
        "venue": "REEF"
    },
    {
        "time": "11:10 PM - 10:30 PM",
        "artist": "Tango Alpha Tango",
        "date": "3/27 (Fri)",
        "venue": "HANNAH'S"
    },
    {
        "time": "12:00 AM - 11:00 PM",
        "artist": "208 Ensemble",
        "date": "3/27 (Fri)",
        "venue": "THE DISTRICT"
    },
    {
        "time": "11:40 PM - 11:00 PM",
        "artist": "AND AND AND",
        "date": "3/27 (Fri)",
        "venue": "CRAZY HORSE"
    },
    {
        "time": "11:40 PM - 11:00 PM",
        "artist": "Blake Noble",
        "date": "3/27 (Fri)",
        "venue": "TOM GRAINEY'S"
    },
    {
        "time": "11:40 PM - 11:00 PM",
        "artist": "Holiday Friends",
        "date": "3/27 (Fri)",
        "venue": "NEUROLUX"
    },
    {
        "time": "11:40 PM - 11:00 PM",
        "artist": "Kowloon Walled City",
        "date": "3/27 (Fri)",
        "venue": "THE SHEDDER"
    },
    {
        "time": "12:00 AM - 11:00 PM",
        "artist": "Little Wings",
        "date": "3/27 (Fri)",
        "venue": "WATERCOOLER"
    },
    {
        "time": "11:50 PM - 11:00 PM",
        "artist": "Occultation",
        "date": "3/27 (Fri)",
        "venue": "LINEN BUILDING"
    },
    {
        "time": "11:40 PM - 11:00 PM",
        "artist": "Orquestra Pacifico Tropical",
        "date": "3/27 (Fri)",
        "venue": "EL KORAH SHRINE"
    },
    {
        "time": "2:00 AM - 11:00 PM",
        "artist": "Panic City",
        "date": "3/27 (Fri)",
        "venue": "CHINA BLUE"
    },
    {
        "time": "11:50 PM - 11:00 PM",
        "artist": "Random Canyon Growlers",
        "date": "3/27 (Fri)",
        "venue": "PENGILLY'S"
    },
    {
        "time": "11:40 PM - 11:00 PM",
        "artist": "Shades",
        "date": "3/27 (Fri)",
        "venue": "ROSE ROOM"
    },
    {
        "time": "11:40 PM - 11:00 PM",
        "artist": "The Blue Rider",
        "date": "3/27 (Fri)",
        "venue": "THE BOUQUET"
    },
    {
        "time": "12:20 AM - 11:30 PM",
        "artist": "Budo",
        "date": "3/27 (Fri)",
        "venue": "REEF"
    },
    {
        "time": "12:30 AM - 11:30 PM",
        "artist": "GALAXE",
        "date": "3/27 (Fri)",
        "venue": "GRAINEY'S BASEMENT"
    },
    {
        "time": "12:30 PM - 11:30 PM",
        "artist": "Hobosexual",
        "date": "3/27 (Fri)",
        "venue": "HANNAH'S"
    },
    {
        "time": "12:40 AM - 12:00 AM",
        "artist": "Cool Ghouls",
        "date": "3/27 (Fri)",
        "venue": "THE BOUQUET"
    },
    {
        "time": "12:50 AM - 12:00 AM",
        "artist": "Delicate Steve",
        "date": "3/27 (Fri)",
        "venue": "EL KORAH SHRINE"
    },
    {
        "time": "1:00 AM - 12:00 AM",
        "artist": "Gaytheist",
        "date": "3/27 (Fri)",
        "venue": "THE SHEDDER"
    },
    {
        "time": "12:40 AM - 12:00 AM",
        "artist": "Magic Sword",
        "date": "3/27 (Fri)",
        "venue": "ROSE ROOM"
    },
    {
        "time": "12:40 AM - 12:00 AM",
        "artist": "The Dirty Moogs",
        "date": "3/27 (Fri)",
        "venue": "NEUROLUX"
    },
    {
        "time": "12:40 AM - 12:00 AM",
        "artist": "Toy Zoo",
        "date": "3/27 (Fri)",
        "venue": "CRAZY HORSE"
    },
    {
        "time": "1:30 AM - 12:00 AM",
        "artist": "Zach Heckendorf",
        "date": "3/27 (Fri)",
        "venue": "GRAINEY'S "
    },
    {
        "time": "1:45 AM - 12:15 AM",
        "artist": "Pert Near Sandstone",
        "date": "3/27 (Fri)",
        "venue": "PENGILLY'S"
    },
    {
        "time": "1:30 AM - 12:30 AM",
        "artist": "Beat Connection",
        "date": "3/27 (Fri)",
        "venue": "REEF"
    },
    {
        "time": "1:45 AM - 12:30 AM",
        "artist": "Wolvserpent",
        "date": "3/27 (Fri)",
        "venue": "LINEN BUILDING"
    },
    {
        "time": "1:45 AM - 12:45 AM",
        "artist": "Marv Ellis & WE Tribe",
        "date": "3/27 (Fri)",
        "venue": "GRAINEY'S BASEMENT"
    },
    {
        "time": "2:00 AM - 1:00 AM",
        "artist": "De Lux",
        "date": "3/27 (Fri)",
        "venue": "NEUROLUX"
    },
    {
        "time": "2:00 AM - 1:00 AM",
        "artist": "Nathaniel Rateliff & the Night Sweats",
        "date": "3/27 (Fri)",
        "venue": "THE BOUQUET"
    },
    {
        "time": "2:00 AM - 1:00 AM",
        "artist": "Summer Cannibals",
        "date": "3/27 (Fri)",
        "venue": "CRAZY HORSE"
    },
    {
        "time": "2:00 AM - 1:00 AM",
        "artist": "The Golden Pony",
        "date": "3/27 (Fri)",
        "venue": "ROSE ROOM"
    },
    {
        "time": "2:00 AM - 1:00 AM",
        "artist": "BADBADNOTGOOD",
        "date": "3/27 (Fri)",
        "venue": "EL KORAH SHRINE"
    },
    {
        "time": "1:40 PM - 1:00 PM",
        "artist": "AFROSONICS",
        "date": "3/28 (Sat)",
        "venue": "MAIN STAGE"
    },
    {
        "time": "1:20 PM - 1:00 PM",
        "artist": "Fight",
        "date": "3/28 (Sat)",
        "venue": "LINEN BUILDING"
    },
    {
        "time": "1:40 PM - 1:00 PM",
        "artist": "Harvey Krishna ",
        "date": "3/28 (Sat)",
        "venue": "CRAZY HORSE"
    },
    {
        "time": "1:45 PM - 1:25 PM",
        "artist": "Mr. Lester's Stinkhole",
        "date": "3/28 (Sat)",
        "venue": "LINEN BUILDING"
    },
    {
        "time": "2:15 PM - 1:40 PM",
        "artist": "Play Date",
        "date": "3/28 (Sat)",
        "venue": "RADIO BOISE CAMPFIRE STAGE"
    },
    {
        "time": "2:20 PM - 1:55 PM",
        "artist": "Twat Trap",
        "date": "3/28 (Sat)",
        "venue": "LINEN BUILDING"
    },
    {
        "time": "2:30 PM - 2:00 PM",
        "artist": "Dweller At The Well",
        "date": "3/28 (Sat)",
        "venue": "THE SHREDDER"
    },
    {
        "time": "2:40 PM - 2:00 PM",
        "artist": "Idaho Green",
        "date": "3/28 (Sat)",
        "venue": "CRAZY HORSE"
    },
    {
        "time": "2:40 PM - 2:00 PM",
        "artist": "John Primrose and the Attack",
        "date": "3/28 (Sat)",
        "venue": "THE DISTRICT"
    },
    {
        "time": "2:40 PM - 2:00 PM",
        "artist": "Yeah Great Fine",
        "date": "3/28 (Sat)",
        "venue": "MAIN STAGE"
    },
    {
        "time": "3:00 PM - 2:30 PM",
        "artist": "Deep Creeps",
        "date": "3/28 (Sat)",
        "venue": "LINEN BUILDING"
    },
    {
        "time": "3:10 PM - 2:40 PM",
        "artist": "For the Sake of",
        "date": "3/28 (Sat)",
        "venue": "THE SHREDDER"
    },
    {
        "time": "3:05 PM - 2:40 PM",
        "artist": "Kepi Ghoulie",
        "date": "3/28 (Sat)",
        "venue": "RADIO BOISE CAMPFIRE STAGE"
    },
    {
        "time": "3:40 PM - 3:00 PM",
        "artist": "King Friday",
        "date": "3/28 (Sat)",
        "venue": "THE DISTRICT"
    },
    {
        "time": "3:40 PM - 3:00 PM",
        "artist": "Lee Gallagher & The Hallelujah",
        "date": "3/28 (Sat)",
        "venue": "CRAZY HORSE"
    },
    {
        "time": "3:40 PM - 3:00 PM",
        "artist": "Wetface",
        "date": "3/28 (Sat)",
        "venue": "NEUROLUX"
    },
    {
        "time": "3:50 PM - 3:05 PM",
        "artist": "Desert Noises",
        "date": "3/28 (Sat)",
        "venue": "MAIN STAGE"
    },
    {
        "time": "3:50 PM - 3:10 PM",
        "artist": "Get Wet Plus",
        "date": "3/28 (Sat)",
        "venue": "LINEN BUILDING"
    },
    {
        "time": "3:50 PM - 3:20 PM",
        "artist": "Sheep Among Wolves",
        "date": "3/28 (Sat)",
        "venue": "THE SHREDDER"
    },
    {
        "time": "4:25 PM - 3:50 PM",
        "artist": "Play Date",
        "date": "3/28 (Sat)",
        "venue": "RADIO BOISE CAMPFIRE STAGE"
    },
    {
        "time": "4:30 PM - 4:00 PM",
        "artist": "Alone",
        "date": "3/28 (Sat)",
        "venue": "THE SHREDDER"
    },
    {
        "time": "4:40 PM - 4:00 PM",
        "artist": "Central City Music Company",
        "date": "3/28 (Sat)",
        "venue": "THE DISTRICT"
    },
    {
        "time": "4:40 PM - 4:00 PM",
        "artist": "COUCHES",
        "date": "3/28 (Sat)",
        "venue": "CRAZY HORSE"
    },
    {
        "time": "4:40 PM - 4:00 PM",
        "artist": "Taylor Robert Hawkins",
        "date": "3/28 (Sat)",
        "venue": "WATERCOOLER"
    },
    {
        "time": "4:40 PM - 4:00 PM",
        "artist": "Terrible Light",
        "date": "3/28 (Sat)",
        "venue": "LINEN BUILDING"
    },
    {
        "time": "4:40 PM - 4:00 PM",
        "artist": "Tomten",
        "date": "3/28 (Sat)",
        "venue": "NEUROLUX"
    },
    {
        "time": "5:10 PM - 4:10 PM",
        "artist": "Motopony",
        "date": "3/28 (Sat)",
        "venue": "MAIN STAGE"
    },
    {
        "time": "5:10 PM - 4:40 PM",
        "artist": "For Fucks Sake",
        "date": "3/28 (Sat)",
        "venue": "THE SHREDDER"
    },
    {
        "time": "5:40 PM - 5:00 PM",
        "artist": "AAN",
        "date": "3/28 (Sat)",
        "venue": "LINEN BUILDING"
    },
    {
        "time": "5:40 PM - 5:00 PM",
        "artist": "AMFMS",
        "date": "3/28 (Sat)",
        "venue": "CRAZY HORSE"
    },
    {
        "time": "5:40 PM - 5:00 PM",
        "artist": "Sleepy Seeds",
        "date": "3/28 (Sat)",
        "venue": "NEUROLUX"
    },
    {
        "time": "5:40 PM - 5:00 PM",
        "artist": "Starlings Murmurations ",
        "date": "3/28 (Sat)",
        "venue": "PENGILLY'S"
    },
    {
        "time": "5:40 PM - 5:00 PM",
        "artist": "Tony Ortega",
        "date": "3/28 (Sat)",
        "venue": "WATERCOOLER"
    },
    {
        "time": "5:40 PM - 5:00 PM",
        "artist": "Up Is The Down Is The",
        "date": "3/28 (Sat)",
        "venue": "THE DISTRICT"
    },
    {
        "time": "5:50 PM - 5:20 PM",
        "artist": "Reptoid",
        "date": "3/28 (Sat)",
        "venue": "THE SHREDDER"
    },
    {
        "time": "6:30 PM - 5:30 PM",
        "artist": "Generationals",
        "date": "3/28 (Sat)",
        "venue": "MAIN STAGE"
    },
    {
        "time": "6:40 PM - 6:00 PM",
        "artist": "Accordion Crimes",
        "date": "3/28 (Sat)",
        "venue": "THE SHREDDER"
    },
    {
        "time": "6:40 PM - 6:00 PM",
        "artist": "Bud Bronson & The Good Timers",
        "date": "3/28 (Sat)",
        "venue": "CRAZY HORSE"
    },
    {
        "time": "6:40 PM - 6:00 PM",
        "artist": "Hip Hatchet",
        "date": "3/28 (Sat)",
        "venue": "WATERCOOLER"
    },
    {
        "time": "6:40 PM - 6:00 PM",
        "artist": "James Dean Kindle & The Eastern Oregon Playboys",
        "date": "3/28 (Sat)",
        "venue": "THE BOUQUET"
    },
    {
        "time": "6:40 PM - 6:00 PM",
        "artist": "Little Barefoot",
        "date": "3/28 (Sat)",
        "venue": "THE DISTRICT"
    },
    {
        "time": "6:40 PM - 6:00 PM",
        "artist": "Michaela French",
        "date": "3/28 (Sat)",
        "venue": "PENGILLY'S"
    },
    {
        "time": "6:40 PM - 6:00 PM",
        "artist": "Posse",
        "date": "3/28 (Sat)",
        "venue": "LINEN BUILDING"
    },
    {
        "time": "6:40 PM - 6:00 PM",
        "artist": "Us Lights",
        "date": "3/28 (Sat)",
        "venue": "NEUROLUX"
    },
    {
        "time": "7:40 PM - 7:00 PM",
        "artist": "Cabana",
        "date": "3/28 (Sat)",
        "venue": "NEUROLUX"
    },
    {
        "time": "7:40 PM - 7:00 PM",
        "artist": "Curtis/Sutton & The Scavengers",
        "date": "3/28 (Sat)",
        "venue": "PENGILLY'S"
    },
    {
        "time": "7:40 PM - 7:00 PM",
        "artist": "Edmond Dantes",
        "date": "3/28 (Sat)",
        "venue": "EL KORAH SHRINE"
    },
    {
        "time": "7:40 PM - 7:00 PM",
        "artist": "Fox Alive",
        "date": "3/28 (Sat)",
        "venue": "THE SHREDDER"
    },
    {
        "time": "8:00 PM - 7:00 PM",
        "artist": "Foxygen",
        "date": "3/28 (Sat)",
        "venue": "MAIN STAGE"
    },
    {
        "time": "7:40 PM - 7:00 PM",
        "artist": "illest*Lyricists",
        "date": "3/28 (Sat)",
        "venue": "KNITTING FACTORY (UPSTAIRS)"
    },
    {
        "time": "7:40 PM - 7:00 PM",
        "artist": "L'anarchiste",
        "date": "3/28 (Sat)",
        "venue": "WATERCOOLER"
    },
    {
        "time": "7:40 PM - 7:00 PM",
        "artist": "Mascaras",
        "date": "3/28 (Sat)",
        "venue": "LINEN BUILDING"
    },
    {
        "time": "7:40 PM - 7:00 PM",
        "artist": "Moon Honey",
        "date": "3/28 (Sat)",
        "venue": "THE BOUQUET"
    },
    {
        "time": "7:40 PM - 7:00 PM",
        "artist": "The Ned Garthe Explosion",
        "date": "3/28 (Sat)",
        "venue": "CRAZY HORSE"
    },
    {
        "time": "7:40 PM - 7:00 PM",
        "artist": "Wrinkles",
        "date": "3/28 (Sat)",
        "venue": "THE DISTRICT"
    },
    {
        "time": "8:15 PM - 7:30 PM",
        "artist": "Hey V Kay",
        "date": "3/28 (Sat)",
        "venue": "HANNAH'S"
    },
    {
        "time": "8:20 PM - 7:40 PM",
        "artist": "Customary",
        "date": "3/28 (Sat)",
        "venue": "KNITTING FACTORY (MAIN STAGE)"
    },
    {
        "time": "8:40 PM - 8:00 PM",
        "artist": "Alex Cameron",
        "date": "3/28 (Sat)",
        "venue": "LINEN BUILDING"
    },
    {
        "time": "8:40 PM - 8:00 PM",
        "artist": "Andy Shauf",
        "date": "3/28 (Sat)",
        "venue": "THE DISTRICT"
    },
    {
        "time": "8:40 PM - 8:00 PM",
        "artist": "Battlehooch",
        "date": "3/28 (Sat)",
        "venue": "EL KORAH SHRINE"
    },
    {
        "time": "8:40 PM - 8:00 PM",
        "artist": "Chicken Dinner Road",
        "date": "3/28 (Sat)",
        "venue": "TOM GRAINEY'S"
    },
    {
        "time": "8:40 PM - 8:00 PM",
        "artist": "Frugal Father",
        "date": "3/28 (Sat)",
        "venue": "ROSE ROOM"
    },
    {
        "time": "8:40 PM - 8:00 PM",
        "artist": "Panther Attack",
        "date": "3/28 (Sat)",
        "venue": "THE SHREDDER"
    },
    {
        "time": "8:40 PM - 8:00 PM",
        "artist": "Parade Of Bad Guys",
        "date": "3/28 (Sat)",
        "venue": "THE BOUQUET"
    },
    {
        "time": "8:40 PM - 8:00 PM",
        "artist": "Screen Door Porch",
        "date": "3/28 (Sat)",
        "venue": "PENGILLY'S"
    },
    {
        "time": "8:40 PM - 8:00 PM",
        "artist": "Shintarou",
        "date": "3/28 (Sat)",
        "venue": "SPACEBAR"
    },
    {
        "time": "8:40 PM - 8:00 PM",
        "artist": "Sugar Candy Mountain",
        "date": "3/28 (Sat)",
        "venue": "NEUROLUX"
    },
    {
        "time": "8:40 PM - 8:00 PM",
        "artist": "The Heligoats",
        "date": "3/28 (Sat)",
        "venue": "WATERCOOLER"
    },
    {
        "time": "8:40 PM - 8:00 PM",
        "artist": "Triathalon",
        "date": "3/28 (Sat)",
        "venue": "CRAZY HORSE"
    },
    {
        "time": "8:45 PM - 8:10 PM",
        "artist": "ZERO",
        "date": "3/28 (Sat)",
        "venue": "KNITTING FACTORY (UPSTAIRS)"
    },
    {
        "time": "9:10 PM - 8:30 PM",
        "artist": "Eleven and DJ Jason D",
        "date": "3/28 (Sat)",
        "venue": "KNITTING FACTORY (MAIN STAGE)"
    },
    {
        "time": "9:10 PM - 8:30 PM",
        "artist": "Gabriel Hess",
        "date": "3/28 (Sat)",
        "venue": "REEF"
    },
    {
        "time": "9:10 PM - 8:30 PM",
        "artist": "LadyTramp",
        "date": "3/28 (Sat)",
        "venue": "GRAINEY'S BASEMENT"
    },
    {
        "time": "9:15 PM - 8:30 PM",
        "artist": "the BGP",
        "date": "3/28 (Sat)",
        "venue": "HANNAH'S"
    },
    {
        "time": "10:00 PM - 8:45 PM",
        "artist": "!!!",
        "date": "3/28 (Sat)",
        "venue": "MAIN STAGE"
    },
    {
        "time": "9:40 PM - 9:00 PM",
        "artist": "Braided Waves",
        "date": "3/28 (Sat)",
        "venue": "CRAZY HORSE"
    },
    {
        "time": "9:40 PM - 9:00 PM",
        "artist": "Deeveaux",
        "date": "3/28 (Sat)",
        "venue": "ROSE ROOM"
    },
    {
        "time": "9:40 PM - 9:00 PM",
        "artist": "HiHazel",
        "date": "3/28 (Sat)",
        "venue": "NEUROLUX"
    },
    {
        "time": "9:40 PM - 9:00 PM",
        "artist": "Jonathan Warren and the Billygoats",
        "date": "3/28 (Sat)",
        "venue": "THE BOUQUET"
    },
    {
        "time": "9:40 PM - 9:00 PM",
        "artist": "Quiet Life",
        "date": "3/28 (Sat)",
        "venue": "WATERCOOLER"
    },
    {
        "time": "9:40 PM - 9:00 PM",
        "artist": "Real Life Click (Ang P & MIZ)",
        "date": "3/28 (Sat)",
        "venue": "KNITTING FACTORY (UPSTAIRS)"
    },
    {
        "time": "9:40 PM - 9:00 PM",
        "artist": "Realms",
        "date": "3/28 (Sat)",
        "venue": "SPACEBAR"
    },
    {
        "time": "9:40 PM - 9:00 PM",
        "artist": "Talkative",
        "date": "3/28 (Sat)",
        "venue": "LINEN BUILDING"
    },
    {
        "time": "9:40 PM - 9:00 PM",
        "artist": "The Awful Truth",
        "date": "3/28 (Sat)",
        "venue": "THE DISTRICT"
    },
    {
        "time": "9:40 PM - 9:00 PM",
        "artist": "Tylor & the Train Robbers",
        "date": "3/28 (Sat)",
        "venue": "TOM GRAINEY'S"
    },
    {
        "time": "9:40 PM - 9:00 PM",
        "artist": "Unconditional Arms",
        "date": "3/28 (Sat)",
        "venue": "THE SHREDDER"
    },
    {
        "time": "9:40 PM - 9:00 PM",
        "artist": "Yip Deceiver",
        "date": "3/28 (Sat)",
        "venue": "EL KORAH SHRINE"
    },
    {
        "time": "9:40 PM - 9:00 PM",
        "artist": "Zikki",
        "date": "3/28 (Sat)",
        "venue": "KNITTING FACTORY (UPSTAIRS)"
    },
    {
        "time": "10:00 PM - 9:20 PM",
        "artist": "Shimi Tree",
        "date": "3/28 (Sat)",
        "venue": "REEF"
    },
    {
        "time": "10:10 PM - 9:30 PM",
        "artist": "Amber Martin",
        "date": "3/28 (Sat)",
        "venue": "HANNAH'S"
    },
    {
        "time": "10:10 PM - 9:30 PM",
        "artist": "Bread & Circus",
        "date": "3/28 (Sat)",
        "venue": "GRAINEY'S BASEMENT"
    },
    {
        "time": "10:10 PM - 9:30 PM",
        "artist": "ePRHYME",
        "date": "3/28 (Sat)",
        "venue": "KNITTING FACTORY (MAIN STAGE)"
    },
    {
        "time": "10:10 PM - 9:30 PM",
        "artist": "Smoke M2D6",
        "date": "3/28 (Sat)",
        "venue": "KNITTING FACTORY (MAIN STAGE)"
    },
    {
        "time": "10:40 PM - 10:00 PM",
        "artist": "A. Tom Collins",
        "date": "3/28 (Sat)",
        "venue": "PENGILLY'S"
    },
    {
        "time": "10:40 PM - 10:00 PM",
        "artist": "Alturas",
        "date": "3/28 (Sat)",
        "venue": "TOM GRAINEY'S"
    },
    {
        "time": "10:45 PM - 10:00 PM",
        "artist": "Crystalline",
        "date": "3/28 (Sat)",
        "venue": "SPACEBAR"
    },
    {
        "time": "10:35 PM - 10:00 PM",
        "artist": "Exit Prose",
        "date": "3/28 (Sat)",
        "venue": "KNITTING FACTORY (UPSTAIRS)"
    },
    {
        "time": "10:40 PM - 10:00 PM",
        "artist": "Future Death",
        "date": "3/28 (Sat)",
        "venue": "THE SHREDDER"
    },
    {
        "time": "10:40 PM - 10:00 PM",
        "artist": "Isaac Pierce",
        "date": "3/28 (Sat)",
        "venue": "WATERCOOLER"
    },
    {
        "time": "10:40 PM - 10:00 PM",
        "artist": "Mwahaha",
        "date": "3/28 (Sat)",
        "venue": "LINEN BUILDING"
    },
    {
        "time": "10:40 PM - 10:00 PM",
        "artist": "Native America",
        "date": "3/28 (Sat)",
        "venue": "CRAZY HORSE"
    },
    {
        "time": "10:45 PM - 10:00 PM",
        "artist": "Polomirror",
        "date": "3/28 (Sat)",
        "venue": "ROSE ROOM"
    },
    {
        "time": "10:40 PM - 10:00 PM",
        "artist": "Sheep Bridge Jumpers",
        "date": "3/28 (Sat)",
        "venue": "THE BOUQUET"
    },
    {
        "time": "10:40 PM - 10:00 PM",
        "artist": "SPACEFACE",
        "date": "3/28 (Sat)",
        "venue": "NEUROLUX"
    },
    {
        "time": "10:40 PM - 10:00 PM",
        "artist": "We Are The Willows",
        "date": "3/28 (Sat)",
        "venue": "THE DISTRICT"
    },
    {
        "time": "10:50 PM - 10:00 PM",
        "artist": "YACHT",
        "date": "3/28 (Sat)",
        "venue": "EL KORAH SHRINE"
    },
    {
        "time": "11:00 PM - 10:20 PM",
        "artist": "Elvice Leonard Mwenematale",
        "date": "3/28 (Sat)",
        "venue": "REEF"
    },
    {
        "time": "11:10 PM - 10:30 PM",
        "artist": "CANDIDT",
        "date": "3/28 (Sat)",
        "venue": "KNITTING FACTORY (MAIN STAGE)"
    },
    {
        "time": "11:10 PM - 10:30 PM",
        "artist": "Jupiter Holiday",
        "date": "3/28 (Sat)",
        "venue": "GRAINEY'S BASEMENT"
    },
    {
        "time": "11:10 PM - 10:30 PM",
        "artist": "Thunderpussy",
        "date": "3/28 (Sat)",
        "venue": "HANNAH'S"
    },
    {
        "time": "11:10 PM - 10:30 PM",
        "artist": "Xperience",
        "date": "3/28 (Sat)",
        "venue": "KNITTING FACTORY (MAIN STAGE)"
    },
    {
        "time": "11:30 PM - 10:50 PM",
        "artist": "Dedicated Servers",
        "date": "3/28 (Sat)",
        "venue": "KNITTING FACTORY (UPSTAIRS)"
    },
    {
        "time": "11:40 PM - 11:00 PM",
        "artist": "Boyfrndz",
        "date": "3/28 (Sat)",
        "venue": "THE SHREDDER"
    },
    {
        "time": "11:40 PM - 11:00 PM",
        "artist": "Clarke and the Himselfs",
        "date": "3/28 (Sat)",
        "venue": "CRAZY HORSE"
    },
    {
        "time": "11:40 PM - 11:00 PM",
        "artist": "Crystal Ghost",
        "date": "3/28 (Sat)",
        "venue": "ROSE ROOM"
    },
    {
        "time": "11:40 PM - 11:00 PM",
        "artist": "Innocent Man",
        "date": "3/28 (Sat)",
        "venue": "TOM GRAINEY'S"
    },
    {
        "time": "12:00 AM - 11:00 PM",
        "artist": "Jon & Josiah (The Head and the Heart)",
        "date": "3/28 (Sat)",
        "venue": "WATERCOOLER"
    },
    {
        "time": "12:00 AM - 11:00 PM",
        "artist": "Kera and The Lesbians",
        "date": "3/28 (Sat)",
        "venue": "PENGILLY'S"
    },
    {
        "time": "11:50 PM - 11:00 PM",
        "artist": "Phantahex",
        "date": "3/28 (Sat)",
        "venue": "SPACEBAR"
    },
    {
        "time": "2:00 AM - 11:00 PM",
        "artist": "Rock-It! Scientists",
        "date": "3/28 (Sat)",
        "venue": "CHINA BLUE"
    },
    {
        "time": "11:50 PM - 11:00 PM",
        "artist": "Stoneseed",
        "date": "3/28 (Sat)",
        "venue": "THE BOUQUET"
    },
    {
        "time": "11:40 PM - 11:00 PM",
        "artist": "Hosannas",
        "date": "3/28 (Sat)",
        "venue": "LINEN BUILDING"
    },
    {
        "time": "11:40 PM - 11:00 PM",
        "artist": "Thick Business",
        "date": "3/28 (Sat)",
        "venue": "NEUROLUX"
    },
    {
        "time": "12:00 AM - 11:00 PM",
        "artist": "Urquides",
        "date": "3/28 (Sat)",
        "venue": "THE DISTRICT"
    },
    {
        "time": "12:15 AM - 11:15 PM",
        "artist": "Ayron Jones and the Way",
        "date": "3/28 (Sat)",
        "venue": "REEF"
    },
    {
        "time": "12:10 AM - 11:30 PM",
        "artist": "Big Twig",
        "date": "3/28 (Sat)",
        "venue": "GRAINEY'S BASEMENT"
    },
    {
        "time": "12:15 AM - 11:30 PM",
        "artist": "Black Milk",
        "date": "3/28 (Sat)",
        "venue": "KNITTING FACTORY (MAIN STAGE)"
    },
    {
        "time": "12:10 AM - 11:30 PM",
        "artist": "Mostly Muff",
        "date": "3/28 (Sat)",
        "venue": "HANNAH'S"
    },
    {
        "time": "1:00 AM - 11:30 PM",
        "artist": "of Montreal",
        "date": "3/28 (Sat)",
        "venue": "EL KORAH SHRINE"
    },
    {
        "time": "12:50 AM - 12:00 AM",
        "artist": "paper/upper/cuts",
        "date": "3/28 (Sat)",
        "venue": "SPACEBAR"
    },
    {
        "time": "1:30 AM - 12:00 AM",
        "artist": "Polecat",
        "date": "3/28 (Sat)",
        "venue": "TOM GRAINEY'S"
    },
    {
        "time": "12:40 AM - 12:00 AM",
        "artist": "Psychic Rites",
        "date": "3/28 (Sat)",
        "venue": "LINEN BUILDING"
    },
    {
        "time": "12:40 AM - 12:00 AM",
        "artist": "Religious Girls",
        "date": "3/28 (Sat)",
        "venue": "CRAZY HORSE"
    },
    {
        "time": "12:40 AM - 12:00 AM",
        "artist": "Snake Rattle Rattle Snake",
        "date": "3/28 (Sat)",
        "venue": "NEUROLUX"
    },
    {
        "time": "12:40 AM - 12:00 AM",
        "artist": "Bearcubbin'!",
        "date": "3/28 (Sat)",
        "venue": "THE SHREDDER"
    },
    {
        "time": "12:45 AM - 12:00 AM",
        "artist": "Flamingosis",
        "date": "3/28 (Sat)",
        "venue": "ROSE ROOM"
    },
    {
        "time": "1:45 AM - 12:20 AM",
        "artist": "a.k.a. Belle",
        "date": "3/28 (Sat)",
        "venue": "PENGILLY'S"
    },
    {
        "time": "1:45 AM - 12:20 AM",
        "artist": "Elephant Revival",
        "date": "3/28 (Sat)",
        "venue": "THE BOUQUET"
    },
    {
        "time": "1:30 AM - 12:30 AM",
        "artist": "Lyrics Born",
        "date": "3/28 (Sat)",
        "venue": "KNITTING FACTORY (MAIN STAGE)"
    },
    {
        "time": "2:00 AM - 1:00 AM",
        "artist": "The Rocci Johnson Band",
        "date": "3/28 (Sat)",
        "venue": "HANNAH'S"
    },
    {
        "time": "1:45 AM - 12:30 AM",
        "artist": "Voice Of Reason",
        "date": "3/28 (Sat)",
        "venue": "REEF"
    },
    {
        "time": "1:45 AM - 12:45 AM",
        "artist": "YAMN",
        "date": "3/28 (Sat)",
        "venue": "GRAINEY'S BASEMENT"
    },
    {
        "time": "2:00 AM - 1:00 AM",
        "artist": "Ancient Psychic",
        "date": "3/28 (Sat)",
        "venue": "NEUROLUX"
    },
    {
        "time": "2:00 AM - 1:00 AM",
        "artist": "Red Hands Black Feet",
        "date": "3/28 (Sat)",
        "venue": "THE SHREDDER"
    },
    {
        "time": "2:00 AM - 1:00 AM",
        "artist": "Street Fever",
        "date": "3/28 (Sat)",
        "venue": "LINEN BUILDING"
    },
    {
        "time": "2:00 AM - 1:00 AM",
        "artist": "The Range",
        "date": "3/28 (Sat)",
        "venue": "ROSE ROOM"
    },
    {
        "time": "2:00 AM - 1:00 AM",
        "artist": "Wooden Indian Burial Ground",
        "date": "3/28 (Sat)",
        "venue": "CRAZY HORSE"
    },
    {
        "time": "1:40 PM - 1:00 PM",
        "artist": "A Sea Of Glass",
        "date": "3/29 (Sun)",
        "venue": "MAIN STAGE"
    },
    {
        "time": "1:40 PM - 1:00 PM",
        "artist": "Point Break 2",
        "date": "3/29 (Sun)",
        "venue": "CRAZY HORSE"
    },
    {
        "time": "3:05 PM - 1:40 PM",
        "artist": "Kepi Ghoulie",
        "date": "3/29 (Sun)",
        "venue": "RADIO BOISE CAMPFIRE STAGE"
    },
    {
        "time": "2:40 PM - 2:00 PM",
        "artist": "Ghost to Falco",
        "date": "3/29 (Sun)",
        "venue": "CRAZY HORSE"
    },
    {
        "time": "2:40 PM - 2:00 PM",
        "artist": "Magic Mic",
        "date": "3/29 (Sun)",
        "venue": "THE SHREDDER"
    },
    {
        "time": "2:40 PM - 2:00 PM",
        "artist": "Mimicking Birds",
        "date": "3/29 (Sun)",
        "venue": "MAIN STAGE"
    },
    {
        "time": "2:40 PM - 2:00 PM",
        "artist": "Travis Ward",
        "date": "3/29 (Sun)",
        "venue": "LINEN BUILDING"
    },
    {
        "time": "3:05 PM - 2:40 PM",
        "artist": "Play Date",
        "date": "3/29 (Sun)",
        "venue": "RADIO BOISE CAMPFIRE STAGE"
    },
    {
        "time": "3:40 PM - 3:00 PM",
        "artist": "H. Grimace",
        "date": "3/29 (Sun)",
        "venue": "CRAZY HORSE"
    },
    {
        "time": "3:40 PM - 3:00 PM",
        "artist": "Pond People",
        "date": "3/29 (Sun)",
        "venue": "NEUROLUX"
    },
    {
        "time": "3:40 PM - 3:00 PM",
        "artist": "Slow Space",
        "date": "3/29 (Sun)",
        "venue": "LINEN BUILDING"
    },
    {
        "time": "3:40 PM - 3:00 PM",
        "artist": "Yung Verb",
        "date": "3/29 (Sun)",
        "venue": "THE SHREDDER"
    },
    {
        "time": "3:50 PM - 3:05 PM",
        "artist": "Transistor Send",
        "date": "3/29 (Sun)",
        "venue": "MAIN STAGE"
    },
    {
        "time": "4:40 PM - 4:00 PM",
        "artist": "Ian Waters Band",
        "date": "3/29 (Sun)",
        "venue": "CRAZY HORSE"
    },
    {
        "time": "4:40 PM - 4:00 PM",
        "artist": "CATSKILLS",
        "date": "3/29 (Sun)",
        "venue": "LINEN BUILDING"
    },
    {
        "time": "4:40 PM - 4:00 PM",
        "artist": "Paper Gates",
        "date": "3/29 (Sun)",
        "venue": "WATERCOOLER"
    },
    {
        "time": "4:40 PM - 4:00 PM",
        "artist": "The Earthlings + The Armada ID",
        "date": "3/29 (Sun)",
        "venue": "THE SHREDDER"
    },
    {
        "time": "4:40 PM - 4:00 PM",
        "artist": "Colfax Speed Queen",
        "date": "3/29 (Sun)",
        "venue": "NEUROLUX"
    },
    {
        "time": "5:10 PM - 4:10 PM",
        "artist": "Sego",
        "date": "3/29 (Sun)",
        "venue": "MAIN STAGE"
    },
    {
        "time": "5:40 PM - 5:00 PM",
        "artist": "Cy Dune",
        "date": "3/29 (Sun)",
        "venue": "WATERCOOLER"
    },
    {
        "time": "5:40 PM - 5:00 PM",
        "artist": "Fauna Shade ",
        "date": "3/29 (Sun)",
        "venue": "NEUROLUX"
    },
    {
        "time": "5:40 PM - 5:00 PM",
        "artist": "Haunted Spaceship",
        "date": "3/29 (Sun)",
        "venue": "THE SHREDDER"
    },
    {
        "time": "5:40 PM - 5:00 PM",
        "artist": "Idyltime",
        "date": "3/29 (Sun)",
        "venue": "LINEN BUILDING"
    },
    {
        "time": "5:40 PM - 5:00 PM",
        "artist": "RevoltRevolt",
        "date": "3/29 (Sun)",
        "venue": "CRAZY HORSE"
    },
    {
        "time": "6:30 PM - 5:30 PM",
        "artist": "Emily Wells",
        "date": "3/29 (Sun)",
        "venue": "MAIN STAGE"
    },
    {
        "time": "6:40 PM - 6:00 PM",
        "artist": "Audra Connolly",
        "date": "3/29 (Sun)",
        "venue": "SHREDDER"
    },
    {
        "time": "6:40 PM - 6:00 PM",
        "artist": "Blue Cranes",
        "date": "3/29 (Sun)",
        "venue": "WATERCOOLER"
    },
    {
        "time": "6:40 PM - 6:00 PM",
        "artist": "Genders",
        "date": "3/29 (Sun)",
        "venue": "NEUROLUX"
    },
    {
        "time": "6:40 PM - 6:00 PM",
        "artist": "Hokum Hi-Flyers",
        "date": "3/29 (Sun)",
        "venue": "LINEN BUILDING"
    },
    {
        "time": "6:40 PM - 6:00 PM",
        "artist": "Illumneye",
        "date": "3/29 (Sun)",
        "venue": "THE SHREDDER"
    },
    {
        "time": "6:40 PM - 6:00 PM",
        "artist": "Trite",
        "date": "3/29 (Sun)",
        "venue": "CRAZY HORSE"
    },
    {
        "time": "7:10 PM - 6:30 PM",
        "artist": "Andrew Sheppard",
        "date": "3/29 (Sun)",
        "venue": "THE BOUQUET"
    },
    {
        "time": "7:30 PM - 6:50 PM",
        "artist": "Like A Villain",
        "date": "3/29 (Sun)",
        "venue": "WATERCOOLER"
    },
    {
        "time": "8:00 PM - 7:00 PM",
        "artist": "BADBADNOTGOOD",
        "date": "3/29 (Sun)",
        "venue": "MAIN STAGE"
    },
    {
        "time": "7:40 PM - 7:00 PM",
        "artist": "CAMP",
        "date": "3/29 (Sun)",
        "venue": "EL KORAH SHRINE"
    },
    {
        "time": "7:40 PM - 7:00 PM",
        "artist": "J.P.Whipple and Tycoon Machete",
        "date": "3/29 (Sun)",
        "venue": "LINEN BUILDING"
    },
    {
        "time": "7:40 PM - 7:00 PM",
        "artist": "Lee Penn Sky and the Oliphants",
        "date": "3/29 (Sun)",
        "venue": "PENGILLY'S"
    },
    {
        "time": "7:40 PM - 7:00 PM",
        "artist": "Light Thieves",
        "date": "3/29 (Sun)",
        "venue": "NEUROLUX"
    },
    {
        "time": "7:40 PM - 7:00 PM",
        "artist": "Oso Negro",
        "date": "3/29 (Sun)",
        "venue": "THE SHREDDER"
    },
    {
        "time": "7:40 PM - 7:00 PM",
        "artist": "RedRumsey",
        "date": "3/29 (Sun)",
        "venue": "CRAZY HORSE"
    },
    {
        "time": "8:10 PM - 7:30 PM",
        "artist": "Jeff Crosby & The Refugees",
        "date": "3/29 (Sun)",
        "venue": "THE BOUQUET"
    },
    {
        "time": "8:20 PM - 7:40 PM",
        "artist": "Luke Wyland",
        "date": "3/29 (Sun)",
        "venue": "WATERCOOLER"
    },
    {
        "time": "8:40 PM - 8:00 PM",
        "artist": "Benyaro",
        "date": "3/29 (Sun)",
        "venue": "PENGILLY'S"
    },
    {
        "time": "8:40 PM - 8:00 PM",
        "artist": "Black Whales",
        "date": "3/29 (Sun)",
        "venue": "EL KORAH SHRINE"
    },
    {
        "time": "8:40 PM - 8:00 PM",
        "artist": "Emerald Lanes",
        "date": "3/29 (Sun)",
        "venue": "CRAZY HORSE"
    },
    {
        "time": "8:40 PM - 8:00 PM",
        "artist": "Shady Elders",
        "date": "3/29 (Sun)",
        "venue": "NEUROLUX"
    },
    {
        "time": "8:40 PM - 8:00 PM",
        "artist": "Stranger Danger",
        "date": "3/29 (Sun)",
        "venue": "THE SHREDDER"
    },
    {
        "time": "8:40 PM - 8:00 PM",
        "artist": "The Lil' Smokies",
        "date": "3/29 (Sun)",
        "venue": "LINEN BUILDING"
    },
    {
        "time": "9:10 PM - 8:30 PM",
        "artist": "Dark Seas",
        "date": "3/29 (Sun)",
        "venue": "THE BOUQUET"
    },
    {
        "time": "10:00 PM - 8:30 PM",
        "artist": "TV On The Radio",
        "date": "3/29 (Sun)",
        "venue": "MAIN STAGE"
    },
    {
        "time": "9:00 PM - 8:30 PM",
        "artist": "U*",
        "date": "3/29 (Sun)",
        "venue": "WATERCOOLER"
    },
    {
        "time": "9:40 PM - 9:00 PM",
        "artist": "Annie Girl & The Flight",
        "date": "3/29 (Sun)",
        "venue": "CRAZY HORSE"
    },
    {
        "time": "9:40 PM - 9:00 PM",
        "artist": "Goldini Bagwell",
        "date": "3/29 (Sun)",
        "venue": "THE SHREDDER"
    },
    {
        "time": "9:40 PM - 9:00 PM",
        "artist": "IAME",
        "date": "3/29 (Sun)",
        "venue": "THE SHREDDER"
    },
    {
        "time": "9:45 PM - 9:00 PM",
        "artist": "Neulore",
        "date": "3/29 (Sun)",
        "venue": "LINEN BUILDING"
    },
    {
        "time": "9:45 PM - 9:00 PM",
        "artist": "The Adaptive",
        "date": "3/29 (Sun)",
        "venue": "REEF"
    },
    {
        "time": "9:40 PM - 9:00 PM",
        "artist": "Vinyl Williams",
        "date": "3/29 (Sun)",
        "venue": "EL KORAH SHRINE"
    },
    {
        "time": "9:40 PM - 9:00 PM",
        "artist": "Wilsen",
        "date": "3/29 (Sun)",
        "venue": "NEUROLUX"
    },
    {
        "time": "9:50 PM - 9:10 PM",
        "artist": "C.J. Boyd",
        "date": "3/29 (Sun)",
        "venue": "WATERCOOLER"
    },
    {
        "time": "10:10 PM - 9:30 PM",
        "artist": "Max Pain And The Groovies",
        "date": "3/29 (Sun)",
        "venue": "THE BOUQUET"
    },
    {
        "time": "11:00 PM - 10:00 PM",
        "artist": "saQi",
        "date": "3/29 (Sun)",
        "venue": "REEF"
    },
    {
        "time": "10:40 PM - 10:00 PM",
        "artist": "All Your Friend's Friends",
        "date": "3/29 (Sun)",
        "venue": "THE SHREDDER"
    },
    {
        "time": "10:40 PM - 10:00 PM",
        "artist": "Be Calm Honcho",
        "date": "3/29 (Sun)",
        "venue": "NEUROLUX"
    },
    {
        "time": "10:40 PM - 10:00 PM",
        "artist": "Clouds & Mountains",
        "date": "3/29 (Sun)",
        "venue": "PENGILLY'S"
    },
    {
        "time": "10:40 PM - 10:00 PM",
        "artist": "Dark Swallows",
        "date": "3/29 (Sun)",
        "venue": "CRAZY HORSE"
    },
    {
        "time": "10:40 PM - 10:00 PM",
        "artist": "Sun Blood Stories",
        "date": "3/29 (Sun)",
        "venue": "WATERCOOLER"
    },
    {
        "time": "10:40 PM - 10:00 PM",
        "artist": "The River Arkansas",
        "date": "3/29 (Sun)",
        "venue": "PENGILLY'S"
    },
    {
        "time": "10:40 PM - 10:00 PM",
        "artist": "Vacationer",
        "date": "3/29 (Sun)",
        "venue": "EL KORAH SHRINE"
    },
    {
        "time": "11:15 PM - 10:15 PM",
        "artist": "Hollow Wood",
        "date": "3/29 (Sun)",
        "venue": "LINEN BUILDING"
    },
    {
        "time": "11:20 PM - 10:30 PM",
        "artist": "Marshall Poole",
        "date": "3/29 (Sun)",
        "venue": "THE BOUQUET"
    },
    {
        "time": "11:40 PM - 11:00 PM",
        "artist": "Helvetia",
        "date": "3/29 (Sun)",
        "venue": "CRAZY HORSE"
    },
    {
        "time": "12:00 AM - 11:00 PM",
        "artist": "Matthew E. White",
        "date": "3/29 (Sun)",
        "venue": "NEUROLUX"
    },
    {
        "time": "12:15 AM - 11:00 PM",
        "artist": "Rubblebucket",
        "date": "3/29 (Sun)",
        "venue": "EL KORAH SHRINE"
    },
    {
        "time": "11:40 PM - 11:00 PM",
        "artist": "Sama Dams",
        "date": "3/29 (Sun)",
        "venue": "WATERCOOLER"
    },
    {
        "time": "11:40 PM - 11:00 PM",
        "artist": "The Chicharones",
        "date": "3/29 (Sun)",
        "venue": "THE SHREDDER"
    },
    {
        "time": "12:15 AM - 11:15 PM",
        "artist": "Random Rab",
        "date": "3/29 (Sun)",
        "venue": "REEF"
    },
    {
        "time": "1:00 AM - 11:40 PM",
        "artist": "Old Death Whisper",
        "date": "3/29 (Sun)",
        "venue": "THE BOUQUET"
    },
    {
        "time": "1:00 AM - 11:45 PM",
        "artist": "The Last Bison",
        "date": "3/29 (Sun)",
        "venue": "LINEN BUILDING"
    },
    {
        "time": "12:40 AM - 12:00 AM",
        "artist": "Like A Rocket",
        "date": "3/29 (Sun)",
        "venue": "PENGILLY'S"
    },
    {
        "time": "1:00 AM - 12:00 AM",
        "artist": "Dark Time Sunshine",
        "date": "3/29 (Sun)",
        "venue": "THE SHREDDER"
    },
    {
        "time": "1:00 AM - 12:00 AM",
        "artist": "Survival Knife",
        "date": "3/29 (Sun)",
        "venue": "CRAZY HORSE"
    }
]


];

                $(".preview").click(function () {
                  var artist = $(this).closest("tr").find(".artist").text();

                  lookUp(artist);

                });

                function lookUp(band) {

        for (var i = 0; i < schedule.length; i++) {
            if ((schedule[i].artist) === band) {
                media = (schedule[i].media);
                $(".mediapreview").html(media[0]);
                $('html, body').animate({ scrollTop: 0 }, 'slow');

                break;
            }
        }
    }
                </script>  
                
			</script>

			<script src="javascripts/jquery.js"></script>
      <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
			<script src="https://datatables.net/download/build/jquery.dataTables.min.js"></script>
			<script src="javascripts/dataTables.bootstrap.js"></script>
 			<script src="javascripts/underscore.js"></script>
 			<script src="javascripts/showlist.js"></script>