<div class="page">
<script>this.container.html(this.ledgerTemplate());
    $('table').dataTable();</script>
  <p class="sideways">Turn your phone sideways for advanced filtering.</p>
				
				<div class="show-list">
					
				</div><!-- end show-list -->
			</div><!-- end page -->
			<script type="text/template" id="show-template">
			<div class="container">
              <table class="rwd-table" id="schedule">

              	<thead>
              	              	<tr>
              <th><input type="text" name="search_date" placeholder="Filter by Date" class="search_init" /></th>
              <th><input type="text" name="search_time" placeholder="Filter by Time" class="search_init" /></th>
              <th><input type="text" name="search_artist" placeholder="Filter by Artist" class="search_init" /></th>
              <th><input type="text" name="search_venue" placeholder="Filter by Venue" class="search_init" /></th>
              </tr>
              	<tr>
              		<th class="date">Date</th>
              		<th class="time">Time</th>
              		<th class="artist">Artist</th>
              		<th class="venue">Venue</th>
              	</tr>
              	
              	</thead>
              	<tbody>
                <%% _.each(shows, function(show) { %>
					<tr class="showlist">                       
                        <td data-th="Date"><span class="time"><%%= show.date %></span></td>
                        <td data-th="Time"><span class="time"><%%= show.time %></span></td>
                        <td data-th="Artist"><span class="artist"><%%= show.artist %></span></td>
                        <td data-th="Venue"><span class="venue"><%%= show.venue %></span></td>
                    </tr>
			<%% }); %>
                </tbody>
                </table>
                </div>
                
			</script>

			<script src="javascripts/jquery.js"></script>
			<script src="https://datatables.net/download/build/jquery.dataTables.min.js"></script>
			<script src="javascripts/dataTables.bootstrap.js"></script>
 			<script src="javascripts/underscore.js"></script>
 			<!-- <script src="javascripts/showlist.js"></script> -->
