span.song {
	display: none;
}

@import 'http://fonts.googleapis.com/css?family=Montserrat:300,400,700';
 {
  margin: 1em 0;
  min-width: 300px;
}

 th {
  display: none;
}
 td {
  display: block;
}
 td:first-child {
  padding-top: .5em;
}
 td:last-child {
  padding-bottom: .5em;
}
 td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 6.5em;
  display: inline-block;
}
@media (min-width: 480px) {
   td:before {
    display: none;
  }
}
 th,  td {
  text-align: left;
}
@media (min-width: 480px) {
   th,  td {
    display: table-cell;
    padding: .25em .5em;
  }
   th:first-child,  td:first-child {
    padding-left: 0;
  }
   th:last-child,  td:last-child {
    padding-right: 0;
  }
}

/*{
  color: #3A4652;
  border-radius: .4em;
  overflow: hidden;
}*/

a:hover{
  color: #3A4652;
}

 tr {
  border-color: #9FA1A5;
}
 th,  td {
  margin: .5em 1em;
}
@media (min-width: 480px) {
   th,  td {
  padding: 0.35em !important;
  }
}
 th,  td:before {
  color: #C96A51;
  font-size: 12px;
}


/*.rwd-table th {
  display: none;
}
.rwd-table td {
  display: block;
}
.rwd-table td:first-child {
  padding-top: .5em;
}
.rwd-table td:last-child {
  padding-bottom: .5em;
}
.rwd-table td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 6.5em;
  display: inline-block;
}
@media (min-width: 480px) {
  .rwd-table td:before {
    display: none;
  }
}
.rwd-table th, .rwd-table td {
  text-align: left;
}
@media (min-width: 480px) {
  .rwd-table th, .rwd-table td {
    display: table-cell;
    padding: .25em .5em;
  }
  .rwd-table th:first-child, .rwd-table td:first-child {
    padding-left: 0;
  }
  .rwd-table th:last-child, .rwd-table td:last-child {
    padding-right: 0;
  }
}

.rwd-table {
  color: #3A4652;
  border-radius: .4em;
  overflow: hidden;
}
.rwd-table tr {
  border-color: #9FA1A5;
}
.rwd-table th, .rwd-table td {
  margin: .5em 1em;
}
@media (min-width: 480px) {
  .rwd-table th, .rwd-table td {
  padding: 0.35em !important;
  }
}
.rwd-table th, .rwd-table td:before {
  color: #C96A51;
  font-size: 12px;
}
*/
body {
  padding: 0 2em;
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #444;
  background: #eee;
}

h1 {
  font-weight: normal;
  font-size: 80px;
  letter-spacing: -1px;
  color: #34495E;
}


.noResults {
	display: none;
    padding: 10px;
    color: #fff;
    background: #982929;
    margin: 2px;
}

.paginate_disabled_previous {
	background: url('images/back_disabled.png') no-repeat top left;
}

.paginate_enabled_previous {
	background: url('images/back_enabled.png') no-repeat top left;
}
.paginate_enabled_previous:hover {
	background: url('images/back_enabled_hover.png') no-repeat top left;
}

.paginate_disabled_next {
	background: url('images/forward_disabled.png') no-repeat top right;
}

.paginate_enabled_next {
	background: url('images/forward_enabled.png') no-repeat top right;
}
.paginate_enabled_next:hover {
	background: url('images/forward_enabled_hover.png') no-repeat top right;
}
.sorting_asc {
	background: url('images/sort_asc.png') no-repeat center right;
}

.sorting_desc {
	background: url('images/sort_desc.png') no-repeat center right;
}

.sorting {
	background: url('images/sort_both.png') no-repeat center right;
}

.sorting_asc_disabled {
	background: url('images/sort_asc_disabled.png') no-repeat center right;
}

.sorting_desc_disabled {
	background: url('images/sort_desc_disabled.png') no-repeat center right;
}

.showlist:nth-child(odd){
	background-color: #f3f3f3;
}




/*
.paginate_disabled_previous, .paginate_enabled_previous {
padding-left: 23px;
}

.paginate_disabled_next, .paginate_enabled_next {
padding-right: 23px;
margin-left: 10px;
}
*/
body, a {
	color: #3A4652;
}

label {
	font-weight: none !important;
}

.dataTable {
	width: 100% !important;
}

#logo {
  font-family: 'Open Sans' !important;
  font-weight: 900;
  text-align: center;
  text-shadow: 
          0px 1px 0px #3A4652,
          1px 2px 0px #3A4652,
          2px 3px 0px #3A4652,
          3px 4px 0px #3A4652,
          4px 5px 0px #3A4652,
          5px 6px 0px #3A4652,
          6px 7px 0px #3A4652,
          7px 8px 0px #3A4652,
          8px 9px 0px #3A4652,
          9px 10px 0px #3A4652,
          10px 11px 0px #3A4652,
          11px 12px 0px #3A4652;
}

@media only screen and (max-width: 320px){
  h1 {font-size: 50px;}
  p {font-size: 13px;}
}


p {
  font-family: 'Open Sans';
  font-weight: 700;
}


